<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Hibernate链接数据库的基本信息 -->
    <property name="connection.username">root</property>
    <property name="connection.password">root2</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/hibernate1</property>
	<!-- Hibernate 的基本配置 -->
	
	<!-- Hibernate 使用的数据库方言 -->
	<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
	<!-- 运行时是否打印SQL -->
	<property name="show_sql">true</property>
	
	<!-- 运行时是否格式化SQL -->
	<property name="format_sql">true</property>
	
	<!-- 生成数据表的策略 -->
	<property name="hbm2ddl.auto">update</property>
	
	<!-- 需要关联的Hibernate映射文件  hbm.xml-->
	<mapping resource="com/hm/hibernate/entities/News.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
